<% include _header %>

<h1>Log in</h1>

<form action="/login" method="post">
  <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
  <input name="password" type="password" class="form-control" placeholder="Password" required>
  <input type="submit" value="Log in" class="btn btn-primary btn-block">
  <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Facebook</a>
</form>

<% include _footer %>
