<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jwt-bcrypt-passport</title>
</head>
<body>
    <h1>Login using jwt-passport-bcrypt</h1>
    <form method="post" action="/">
    <input name="txtuName" type="text"><br/>
    <input type="password" name="txtPass"><br/>
    <input type="submit" value="login" name="btnSubmit"> 
    </form> 
</body>
</html>